@import "./player.scss";
@import "./song.scss";
@import "./library";
@import "./nav";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
}

h1,h2,h3 {
  color: rgb(54,54,54);
}

footer {
  font-size: 15px;
  text-align: center;
  margin-top: 2%;
}

.App {
  transition: all 0.5s ease;
}

.library-active {
  margin-left: 30%;
}